body {
  background-color: #ffeaa7;
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.poem2 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.poem {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

footer {
  font-family: sans-serif;
  font-size: 14px;
  color: grey;
  font-weight: normal;
  text-align: center;
}
